<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Please Sign-Up</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :name %><br>
      <%= f.text_field :name %>

      <%= f.label :email %><br>
      <%= f.email_field :email %>

      <%= f.label :password %><br>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <div class="actions">
      <%= submit_tag "Sign-Up", :class => "btn btn-primary", :id => "signup_submit" %>
    </div>
    <% end %>
  </div>
</div>

