<div id="mySignupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Please Sign-Up</h3>
  </div>
  <div class="modal-body">
    <%= form_tag(users_path, :remote => true) do |f| %>

      <%= label_tag :name %><br>
      <%= text_field_tag :name %>

      <%= label_tag :email %><br>
      <%= email_field_tag :email %>

      <%= label_tag :password %><br>
      <%= password_field_tag :password %>

      <%= label_tag :password_confirmation %><br>
      <%= password_field_tag :password_confirmation %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= submit_tag "Sign-Up", :class => "btn btn-primary", :id => "signup_submit" %>
    <% end %>
  </div>
</div>

