<h1>New user</h1>
<div class="rslides-container">
	<ul>
		<li><%= image_tag "sample1.jpg" %></li>
		<li><%= image_tag "sample2.jpg" %></li>
		<li><%= image_tag "sample3.jpg" %></li>
		<li><%= image_tag "sample4.jpg" %></li>
		<li><%= image_tag "sample5.jpg" %></li>
		<li><%= image_tag "sample6.jpg" %></li>
	</ul>
</div>
<br>
<%= render 'form' %>

<%= link_to 'Back', users_path %>

<!-- <div class="rslides-container">
	<ul class="rslides" style="max-width: 800px;"> -->