<p id="notice"><%= notice %></p>

<%= @user.name %>
<%= render :partial => "user_games" %>
<br>
<%= render :partial => "user_history" %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Return To Home', root_path %>
