<<<<<<< HEAD
<div class="map_link" id="">
<h4><%= guess.user_name.upcase %></h4>
<%= guess.proximity_to_answer_in_feet %> feet from actual location<br> 
Guessed <%= guess.distance_of_time_in_hours_and_minutes(guess.created_at, Time.now) %> ago
=======
<% if guess.user.id == @guess.user.id %>
<div class="map_link" id="user_guess">
<% else %>
<div class="map_link">
<% end %>
User Name = <%= guess.user_name %><br>
Proximity = <%= guess.proximity_to_answer_in_feet %> feet<br> 
Guess time ago = <%= guess.distance_of_time_in_hours_and_minutes(guess.created_at, Time.now) %>
>>>>>>> f5af1c4ff33eb234e5893b0a6a7768a6ee061adc
</div><br>

