<p id="notice"><%= notice %></p>

<h4>
  Congrats! Your guess was about <%= @guess.distance_from_target_in_feet(@guess.photo).round %> feet away (~ <%= @guess.distance_from_target_in_miles(@guess.photo).round(2) %> miles) from the target! 
</h4>

<br>
<%= image_tag(@guess.photo_image) %>
<br>

<h5>Your Guess</h5>
<p>
  Address: <%= @guess.street_address %>
</p>
<p>
  Coordinates: Latitude = <%= @guess.latitude %>, Longitude = <%= @guess.longitude %>
</p>

<br>

<h5>Correct Location</h5>

<p>
  Address: <%= @guess.photo.generate_street_address %>
</p>

<p>
  Coordinates: Latitude = <%= @guess.photo_latitude %>, Longitude = <%= @guess.photo_longitude %>
</p>

<br>

<h5>Leaderboard</h5>
  <% @photo_guesses.each do |g| %>
    <p><%= @photo_guesses.index(g) + 1 %>. <%= g.user_name %> guessed <%= g.street_address %>, which is <%= g.distance_from_target_in_feet(g.photo).round %> feet away (~ <%= g.distance_from_target_in_miles(g.photo).round(2) %> miles), <%= g.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("at %I:%M %p") %><%= g.created_at.strftime(" on %m/%d/%Y") %></p>
    <br>
  <% end %>
<p>

</p>

<br>

<%= link_to 'View Photos', photos_union_square_path %> |
<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
