<p id="notice"><%= notice %></p>

<h3>
  Congrats! Your guess was <%= @guess.distance_from_target_in_feet.round %> feet away from the target! 
</h3>

<br>

<h5>Your Guess</h5>
<p>
  Address: <%= @guess.street_address %>
</p>
<p>
  Coordinates: Latitude - <%= @guess.latitude %>, Longitude - <%= @guess.longitude %>
</p>

<br>

<h5>Correct Location</h5>

<p>
  Address: <%= @guess.photo.street_address %>
</p>

<p>
  Coordinates: Latitude = <%= @guess.photo.latitude %>, Longitude = <%= @guess.photo.longitude %>
</p>

<h5>Leaderboard</h5>
  <% @guess.photo.guesses.sort_by { |p_g| p_g.distance_from_target_in_feet }.each do |g| %>
    <p><%= g.id %>: <%= g.distance_from_target_in_feet.round %> feet</p>
    <br>
  <% end %>
<p>

</p>

<br>

<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
