<p id="notice"><%= notice %></p>

<h4>
  Congrats! Your guess was about <%= @guess.distance_from_target_in_feet.round %> feet away (~ <%= @guess.distance_from_target_in_miles.round(2) %> miles) from the target! 
</h4>

<br>
<%= image_tag(@guess.photo.image) %>
<br>

<h5>Your Guess</h5>
<p>
  Address: <%= @guess.street_address %>
</p>
<p>
  Coordinates: Latitude = <%= @guess.latitude %>, Longitude = <%= @guess.longitude %>
</p>

<br>

<h5>Correct Location</h5>

<p>
  Address: <%= @guess.photo.generate_street_address %>
</p>

<p>
  Coordinates: Latitude = <%= @guess.photo.latitude %>, Longitude = <%= @guess.photo.longitude %>
</p>

<br>

<h5>Leaderboard</h5>
  <% @photo_guesses_sorted = @guess.photo.guesses.sort_by { |p_g| p_g.distance_from_target_in_feet } %>
  <% @photo_guesses_sorted.each do |g| %>
    <p><%= @photo_guesses_sorted.index(g) + 1 %>. <%= g.user.name %> guessed <%= g.street_address %>, which is <%= g.distance_from_target_in_feet.round %> feet away (~ <%= g.distance_from_target_in_miles.round(2) %> miles), <%= g.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("at %I:%M %p") %><%= g.created_at.strftime(" on %m/%d/%Y") %></p>
    <br>
  <% end %>
<p>

</p>

<br>

<%= link_to 'View Photos', photos_location_1_path %> |
<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
