<h1>Photos</h1>
<% if @search_query %>
  <h4>Within <%= @search_distance %> meters of <%= @search_query %></h4>
<% end %>
<br>
<% @photos.each do |p| %>
  <% item_num = @photos.index(p) %>
  <h3><%= p.user_name %></h3><br>
  <h5><%= p.caption unless p.caption.nil? %></h5>
  <%= link_to image_tag(p.image), "#myModal-#{item_num}", :role => "button", :class => "btn", "data-toggle" => "modal" %><br>
  <div id="myModal-<%= item_num %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Guess Where This Was Taken</h3>
    </div>

      <% unless p.latitude.nil? || p.longitude.nil? %>
        <div class="modal-body">
        <%= form_for p.guesses.build, :action => "guesses#create" do |f| %>
          <%= f.label "Address or Intersection" %>
          <%= f.text_field :street_address %>
          <%= f.hidden_field :photo_id %>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <%= f.submit "Guess!", :class => "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <% end %>
  </div>
  <hr>
  <br><br><br>
<% end %>

<%= link_to 'New User', new_user_path %>

<!-- photo

user_name - user.full_name
image - images.standard_resolution.url
latitude - location.latitude
longitude - location.longitude
location - location.name
link - link
caption - caption.text -->

