<script>
$(document).ready(function(){
  $(".guessed").css("background-color", "#888");
})


</script>

<div class="container">
  <div class="row-fluid show-grid1">
    <div class="span8 offset2">
      <span>CAN YOU GUESS THIS PLACE?</span>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span8 offset2">
      <div class="wrapper">
      <div id="myCarousel" class="carousel-index slide">
        <ol class="carousel-indicators">
      <% (0..@photos.size-1).each do |i|%>
          <li data-target="#myCarousel" data-slide-to="<%= i %>" class="active <%= "guessed" if @photos[i].guessed_by?(current_user) %>"></li>
      <% end %>
        </ol>
   
    <!-- Carousel Items -->
        <center class="styled-button-5"><%= link_to "SHUFFLE", "/photos/#{@game}" %> </center>
        <br>
        <div class="carousel-inner">
          <% @photos.each do |p| %>
            
              <div class="<% if @photos.index(p) == 0 %>active<% end %> item vfyw">

                <%= form_tag :url => "http://localhost:3000/photos/#{@game}", :method => 'POST' do %>
                  <% @guessed_count = @photos.count { |p| p.guessed_by?(current_user) } %>
                  <center class="styled-button-5">Guessed <%= @guessed_count %> of <%= @photos.size %></center>
                  <br>
                  <center><%= submit_tag (p.guessed_by?(current_user) ? "VIEW" : "PLAY!"), :class => "styled-button-5" %></center>
                  <br>

                  <%= image_tag p.image %>
                  <input name="coordinates" type="hidden" value="<%= @coordinates %>" />
                  <input name="game" type="hidden" value="<%= @game %>" />
                  <input name="photo_id" type="hidden" value="<%= p.id %>" />
                <% end %>

              </div>

            <%# else %>
      <!--         <div class="item vfyw"><%#= image_tag p.image %></div> -->
            <%# end %>
          <% end %>
        </div>

      <!-- Carousel nav -->

      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  $('.carousel').carousel('pause');
});
</script>

