<h1>Photos</h1>

<% @location_media.each do |p| %>
  <% item_num = @location_media.index(p) %>
  <h3><%= p.user.full_name %></h3><br>
  <%= link_to image_tag(p.images.standard_resolution.url), "#myModal-#{item_num}", :role => "button", :class => "btn", "data-toggle" => "modal" %><br>
  <div id="myModal-<%= item_num %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Guess Where This Was Taken</h3>
    </div>
    <div class="modal-body">
        
      <% if !p.location.nil? %>
        <p>Location: Latitude <%= p.location.latitude %>, Longitude: <%= p.location.longitude %></p>
        <p>Address: <%= Geocoder.search("#{p.location.latitude}, #{p.location.longitude}")[0].address %></p>
        <p>Location Name: <%= p.location.name %></p>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>
  <hr>
  <br><br><br>
<% end %>

<%= link_to 'New User', new_user_path %>

<!-- photo

user_name - user.full_name
image - images.standard_resolution.url
latitude - location.latitude
longitude - location.longitude
location - location.name
link - link
caption - caption.text -->

