

<%= javascript_tag do %>
  window.photo_id = '<%= j @photo.id.to_s %>';
<% end %>

<div id="mapdiv" style="height: 400px;"></div>
  <div id="mapoutput" style="background-color: #FFDD22; font-weight: bold;">Latitude:<br>Longitude:</div>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3&sensor=false&key=AIzaSyDAKHFvdMkBADVQC6MgWfqmhDDX4RUqAjo" %>
  <%= javascript_include_tag "mapselector.js" %>
  </div>
</div>

<% if @photo.guesses %>
<p>
  <b>Guesses:</b>
  <ul>
  <% @photo.guesses.each do |guess| %>
    <li><%= guess.user.name %> (<%= guess.street_address %>)</li>
  <% end %>
  </ul>
</p>
<% end %>

