
<%= javascript_tag do %>
  window.photo_id = '<%= j @photo.id.to_s %>';
<% end %>
<div class="row-fluid">
  <div class="span6">
  <div id="mapdiv" style="height: 400px; max-width: 600px;"></div>
    <div id="mapoutput" style="background-color: #FFDD22; font-weight: bold;">Latitude:<br>Longitude:</div>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3&sensor=false&key=AIzaSyDAKHFvdMkBADVQC6MgWfqmhDDX4RUqAjo" %>
    <%= javascript_include_tag "mapselector.js" %>
</div>
<div class="span5">
  <div class="row">
    <div style="overflow: hidden; float: left; max-width: 400px; height: 250px;">
      <%= image_tag @photo.image, :width => "300px" %>
    </div>
    <div class="row"><br>

      <div id="submit_guess">
        <button class="btn"></button>
      </div>

    </div>
  </div>
  </div>
</div>
<% if @photo.guesses %>
<p>
  <b>Guesses:</b>
  <ul>
  <% @photo.guesses.each do |guess| %>
    <li><%= guess.user.name %> (<%= guess.street_address %>)</li>
  <% end %>
  </ul>
</p>
<% end %>

