<div class="container">
  <div class="row-fluid" align="center" style="margin-bottom: 10px;">
  <%= image_tag 'logo.png', :width => "200px" %>
 </div>
<%= javascript_tag do %>
  window.photo_id = '<%= j @photo.id.to_s %>';
<% end %>
<div class="row-fluid">
  <div class="span6">
  <div id="mapdiv" style="height: 400px; max-width: 600px;"></div>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3&sensor=false&key=AIzaSyDAKHFvdMkBADVQC6MgWfqmhDDX4RUqAjo" %>
    <script>

      google.maps.event.addDomListener(window, "load", function() {
        //
        // initialize map
        //

        var latlong;
        var map;
        var locallat;
        var locallon;
        var photo_id = <%= @photo.id.to_s %>;
        var currentPhoto = "/photos/" + photo_id + ".json";
        var style = [
         {
          stylers: [
            { hue: "#00ffe6" },
            { saturation: -20 }
          ]
         },{
          featureType: "road",
          elementType: "geometry",
          stylers: [
            { lightness: 100 },
            { visibility: "simplified" }
          ]
         },{
          featureType: "road",
          elementType: "labels",
          stylers: [
            { visibility: "on" }
          ]
         }
        ];


        var styledMap = new google.maps.StyledMapType(style,
              {name: "Jazzy Jeff"});

        $.get(currentPhoto, function(data) {
          console.log(data);
          latlong = data;
          map = new google.maps.Map(document.getElementById("mapdiv"), {
            center: new google.maps.LatLng(latlong.locale_lat, latlong.locale_lon),
            zoom: 15,
            mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
          }
          );
          //
          // initialize marker
          //

          map.mapTypes.set('map_style', styledMap);
          map.setMapTypeId('map_style');

          var marker = new google.maps.Marker({
            position: map.getCenter(),
            draggable: true,
            map: map
          });

          marker.setIcon('<%= asset_path 'guessmarker.png' %>')
          
          // intercept map and marker movements
          
          google.maps.event.addListener(map, "idle", function() {
            marker.setPosition(map.getCenter());
            locallat = map.getCenter().lat().toFixed(6);
            locallon = map.getCenter().lng().toFixed(6);
            console.log(locallat);
            console.log(locallon);
          });    

          google.maps.event.addListener(marker, "dragend", function(mapEvent) {
            map.panTo(mapEvent.latLng);
          });
          //
          // initialize geocoder
          //
          console.log(map);

          var geocoder = new google.maps.Geocoder();
          google.maps.event.addDomListener(document.getElementById("mapform"), "submit", function(domEvent) {
            if (domEvent.preventDefault){
              domEvent.preventDefault();
            } else {
              domEvent.returnValue = false;
            }
            geocoder.geocode({
              address: document.getElementById("mapinput").value
            }, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                var result = results[0];
                document.getElementById("mapinput").value = result.formatted_address;
                if (result.geometry.viewport) {
                  map.fitBounds(result.geometry.viewport);
                }
                else {
                  map.setCenter(result.geometry.location);
                }
              } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
                alert("Sorry, the geocoder failed to locate the specified address.");
              } else {
                alert("Sorry, the geocoder failed with an internal error.");
              }
            });
          });
          

        })





        $("#submit_guess").click(function(){
          var parameters = {
            "latitude":locallat,
            "longitude":locallon,
            "photo_id":photo_id,
          }
          console.log(parameters);
          $.post('/guesses', parameters, function(json){
            console.log(json);
            window.location.href = json.redirect_url;
          }, 'json');
        });

      });

    </script>

    </div>
<div class="span5">
  <div class="row">
    <div  id="mapdiv" style="overflow: hidden; float: left; max-width: 400px; height: 250px;">
      <%= image_tag @photo.image, :width => "300px" %>
    </div>
  </div>
    <div class="row"><br>

      <%#= form_for(@guess) do |f| %>
<!--         <div id="submit_guess"><%#= f.submit "Guess!" %></div>
      <#% end %> -->
      <div id="submit_guess">
        <div class="span10">
          <span id="showhtml">Drag the marker and make your</span>
        </div>
        
        <div class="span8 offset1">
          <button class="styled-button-5">Guess!</button>
          <br><br>
        </div>
      </div>
      <div class="span8 offset1">
        <%= link_to "Return to Game", "/users/#{current_user.id}/#{@photo.game.to_s}", :class => "styled-button-5", :style => ("padding-top:5px; padding-bottom:5px;")%>
      </div>

    </div>
  </div>
  </div>
</div>

<%#= link_to "Return to your #{@game.split("_").collect { |w| w.capitalize }.join(" ")} game", "/users/#{current_user.id}/#{@game}" %>


<% if @photo.guesses.size > 1 && @photo.guessed_by?(current_user) %>
<p align="center">
  
  <ul><b>Guesses:</b>
  <% @photo.guesses[0..-2].each do |guess| %>
    <li><%= guess.user_name %> (<%= guess.street_address %>)</li>
  <% end %>
  </ul>
</p>
<% end %>
<br>

