<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @photo.user_name %>
</p>

<p>
  <%= image_tag @photo.image %>
</p>

<p>
  <b>Address:</b>
  <%= @photo.street_address %>
</p>

<% if @photo.location %>
<p>
  <b>Location:</b>
  <%= @photo.location %>
</p>
<% end %>

<p>
  <b>Latitude:</b>
  <%= @photo.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @photo.longitude %>
</p>



<% if @photo.guesses %>
<p>
  <b>Guesses:</b>
  <ul>
  <% @photo.guesses.each do |guess| %>
    <li><%= guess.user.name %> (<%= guess.street_address %>)</li>
  <% end %>
  </ul>
</p>
<% end %>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
