<div class="container-fluid">
<br>

  <div class="row-fluid">
    <%= link_to "Log in with Instagram", "auth/instagram", :class => 'btn-link' %>
  </div>

  <!-- First row -->
<br><br>
  <div class="row-fluid">
      <% carouselcount = 1 %>
      <% @myfavorite.each do |image_set| %>
    <div class="span4">
      <div id="myCarousel<%= carouselcount %>" class="carousel slide" <% if carouselcount == 1 %>data-interval="1000"<% end %>>
        <div class="carousel-inner">
            <% index = 0 %>
            <div class="item">
              <% if @myfavorite.index(image_set) == 0 %>
                <%= link_to image_tag("introbox1.png"), photos_union_square_path, :class => "active" %>
              <% elsif @myfavorite.index(image_set) == 2 %>
                <%= link_to image_tag("introbox2.png"), photos_thirty_rock_path, :class => "active" %>
              <% else @myfavorite.index(image_set) == 1 %>
                <%= link_to image_tag("introbox3.png"), photos_thirty_rock_path, :class => "active" %>
              <% end %>
            </div>
            <% image_set.each do |f| %>
              <div class="item">
                <% index += 1 %>
            <%= image_tag f.image %></div>
            <% end %>
        </div>
      <% carouselcount += 1 %>
      </div>
    </div>
      <% end %>   
  </div>

  <!-- Second row  -->

  <div class="row-fluid">
    <!-- Second row, two column (two rows) -->
    <div class="span12">

      <div class="span8">
        <div id="myCarousel" class="carousel slide" >
          <div class="carousel-inner">
            <div class="active item"><%= link_to image_tag('introfriend1.jpg'), "auth/instagram" %></div>
            <div class="item"><%= link_to image_tag('introfriend2.jpg'), "auth/instagram" %></div>
          </div>
        </div>
      </div>

    <!-- Second row, first column -->
      
      <div class="span4" style="float: left;">
        <div id="myCarousel" class="carousel slide" >
          <div class="carousel-inner">
            <div class="active item"><%= image_tag 'introtag3.jpg' %></div>
            <div class="item"><%= image_tag 'introtag2.jpg' %></div>
            <div class="item"><%= image_tag 'introtag1.jpg' %></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>

      <!-- Third row, first column -->

      <div class="span4" style="float: left;">
        <div id="myCarousel" class="carousel slide" >
          <div class="carousel-inner">
            <div class="active item"><%= image_tag 'sample3.jpg' %></div>
            <div class="item"><%= image_tag 'sample2.jpg' %></div>
            <div class="item"><%= image_tag 'sample1.jpg' %></div>
          </div>
        </div>
      </div>
    </div>
  <br>
  </div>

</div> <!-- Ends container-fluid -->


