<div class="container-fluid">
<br>

<div class="row-fluid" align="center">
  <%= image_tag 'logo.png', :width => "400px" %>
</div>
<br><br>
 <div class="row-fluid instruct">
    <div class="span4">
      <%= image_tag 'instruct1.png' %>
    </div>
    <div class="span4">
      <%= image_tag 'instruct2.png' %>
    </div>
    <div class="span4">
      <%= image_tag 'instruct3.png' %>
    </div>
  </div>
  <br>
  <br>
 <div class="row-fluid show-grid">
    <div class="span6"><span><%= link_to "Log in with Instagram", "auth/instagram", :class => 'btn-link' %></span></div>
    <div class="span6"><span id="title-placeholder">Choose from three locations</span></div>
  </div>
  <!-- First row -->
<br>
  <div class="row-fluid">

    <!-- Union Square -->
    <div class="span4">
      <div id="myCarousel" class="carousel slide" data-interval="10">
        <div class="carousel-inner">
          <div class="item active">
            <%= link_to image_tag("introbox1.png"), photos_downtown_path %>
          </div>
          <% @myfavorite[0].each do |f| %>
          <div class="item">
            <%= link_to image_tag(f.image), photos_downtown_path %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Rockefeller -->
    <div class="span4">
      <div id="myCarousel2" class="carousel slide" data-interval="10">
        <div class="carousel-inner">
          <div class="item active">
            <%= link_to image_tag("introbox3.png"), photos_midtown_path %>
          </div>
          <% @myfavorite[1].each do |f| %>
          <div class="item">
            <%= link_to image_tag(f.image), photos_midtown_path %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Central Park -->
    <div class="span4">
      <div id="myCarousel3" class="carousel slide" data-interval="10">
        <div class="carousel-inner">
          <div class="item active">
            <%= link_to image_tag("introbox2.png"), photos_downtown_brooklyn_path %>
          </div>
          <% @myfavorite[2].each do |f| %>
          <div class="item">
            <%= link_to image_tag(f.image), photos_downtown_brooklyn_path %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Second row  -->

  <div class="row-fluid">
    <!-- Second row, two column (two rows) -->
    <div class="span12">

      <div class="span8">
        <div id="myCarousel" class="carousel slide" >
          <div class="carousel-inner">
            <% if current_user %>
              <% url = "auth/instagram" %>
            <% else %>
              <% url = login_path %>
            <% end %>  
            <div class="active item"><%= link_to image_tag('introfriend1.jpg', {:width => 1000}), url %></div>
            <div class="item"><%= link_to image_tag('introfriend2.jpg', {:width => 1000}), url %></div>
          </div>
        </div>
      </div>

    <!-- Second row, first column -->
      
      <div class="span4" style="float: left;">
        <div id="myCarousel" class="carousel slide" >
          <div class="carousel-inner">
            <div class="active item"><%= image_tag 'introtag3.jpg' %></div>
            <div class="item"><%= image_tag 'introtag2.jpg' %></div>
            <div class="item"><%= image_tag 'introtag1.jpg' %></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>

      <!-- Third row, first column -->

      <div class="span4" style="float: left;">
        <div id="myCarousel" class="carousel slide" >
          <div class="carousel-inner">
            <div class="active item"><%= image_tag 'sample3.jpg' %></div>
            <div class="item"><%= image_tag 'sample2.jpg' %></div>
            <div class="item"><%= image_tag 'sample1.jpg' %></div>
          </div>
        </div>
      </div>
    </div></div>
     <div class="row-fluid show-grid-contribute">
    <div class="span12">
      <span style="font-style:bold;">
        Contribute photos by tagging #vfyw and #viewfinder
      </span>
    </div>
  <br>
  </div>


</div> <!-- Ends container-fluid -->


