<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ViewFinder" %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>


    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span18">
          <%= bootstrap_flash %>
          <% if current_user %>
            Logged in as: <%= current_user.name %> |
            <%= link_to "Logout", logout_path %>
            <% if session[:instagram].nil? %>
              | <%= link_to 'Sign in with Instagram', '/auth/instagram' %>
            <% end %>
          <% else %>
            <% if current_page?(root_path) %>
              <%= link_to("Sign Up", new_user_path) %> |
              <%= link_to("Login", login_path) %>  |
              <%= link_to("Sign in with Instagram", '/auth/instagram') %>
            <% end %>
            <% if current_page?(login_path) %>
              <%= link_to("Sign Up", new_user_path) %> |
              <%= link_to("Sign in with Instagram", '/auth/instagram') %>
            <% end %>
            <% if current_page?(new_user_path) %>
              <%= link_to("Login", login_path) %>  |
              <%= link_to("Sign in with Instagram", '/auth/instagram') %>
            <% end %>
          <% end %>          
        </div>
      </div><!--/row-->
<div class="back"></div>
          <%= yield %>
    <div class="navigator-erin navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <strong><%= link_to "ViewFinder", root_path, :class => "brand" %></strong>
          <!-- <div class="container-fluid nav-collapse"> -->
            <ul style="list-style: none;">
              <li><%= link_to "Midtown Manhattan", photos_midtown_path  %></li>
              <li style="display: inline-block;"><%= link_to "Downtown Manhattan", photos_downtown_path %></li>
              <li><%= link_to "Downtown Brooklyn", photos_downtown_brooklyn_path %></li>
              <% if current_user %>
                <li><%= link_to "See My Games", "/users/#{current_user.id}" %></li>
              <% end %>
            </ul>
          <!-- </div> --><!--/.nav-collapse -->
        </div>
      </div>
    </div>

          <%= yield :scripts %>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
